<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591091960244-32efk4l9i8bonccrj5996c5o9cp1hma3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591091960244-32efk4l9i8bonccrj5996c5o9cp1hma3</string>
	<key>API_KEY</key>
	<string>AIzaSyACM2-j65pLtExMOmPfOZHIpxiOthnKOPk</string>
	<key>GCM_SENDER_ID</key>
	<string>591091960244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raluca.SkillSearch</string>
	<key>PROJECT_ID</key>
	<string>skillsearch-cb49e</string>
	<key>STORAGE_BUCKET</key>
	<string>skillsearch-cb49e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591091960244:ios:5b2d17c3791111ecf74ae1</string>
</dict>
</plist>